SECRET_KEY=

# Entorno: True para desarrollo, False para producción
DEBUG=

# Hosts: Lista separada por comas de dominios permitidos
ALLOWED_HOSTS=

# Base de Datos
DB_NAME=
DB_SCHEMA=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Frontend: Orígenes permitidos para CORS
CORS_ALLOWED_ORIGINS=
